@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

header {
  min-height: 263px;
  background-image: url(./images/bg-header-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.history-section {
  max-width: 730px;
  text-align: center;
}

.history-section > h1 {
  font-size: 46px;
  font-weight: 600;
  color: #4c545c;
}

.history-section > p {
  color: #9eabb2;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 30px;
  margin-bottom: 48px;
  margin-top: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  text-decoration: none;
  border-radius: 28px;
  color: #ffffff;
  display: inline-block;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 18px;
}

.btn-primary {
  background-color: #26bba4;
  padding: 13px 36px;
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.15) inset,
    0 10px 20px 0 rgba(137, 229, 199, 0.5);
}

.btn-secondary {
  background-color: #6174ff;
  padding: 13px 32px 13px 35px;
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.15) inset,
    0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.keep-track {
  max-width: 730px;
  text-align: center;
  margin-top: 150px;
}

.keep-track > h2 {
  font-size: 36px;
  font-weight: 600;
  color: #4c545c;
  line-height: normal;
}

.keep-track > p {
  color: #9eabb2;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
  margin-top: 19px;
}

.mac-image {
  width: 680px;
}

.mac-image > img {
  width: 100%;
}

.mac {
  display: flex;
  justify-content: space-between;
  gap: 109px;
  align-items: center;
  margin-top: 124px;
}

.mac-right > h2 {
  color: #4c545c;
  font-size: 24px;
  font-weight: 600;
}

.mac-right > p {
  color: #9eabb2;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
  margin-bottom: 54px;
}

.mac-right {
  max-width: 320px;
}

.tablet {
  margin-top: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablet > h2 {
  color: #4c545c;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.tablet > p {
  width: 730px;
  color: #9eabb2;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
  margin-bottom: 111px;
  margin-top: 19px;
  text-align: center;
}

.supercharge {
  margin-top: 162px;
}

.supercharge > h2 {
  color: #4c545c;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.supercharge > p {
  color: #9eabb2;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
  text-align: center;
  margin-top: 19px;
}

.cards {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 76px;
  gap: 30px;
}

.companies {
  min-height: 100px;
  margin-top: 163px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  min-height: 216px;
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.card > h3 {
  color: #4c545c;
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 16px;
}

.card > p {
  color: #9eabb2;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.12px;
}

.clipboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clipboard > h2 {
  color: #4c545c;
  margin-top: 161px;
  margin-bottom: 19px;
  font-size: 36px;
  font-weight: 600;
}

.clipboard > p {
  color: #9eabb2;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
  width: 730px;
  text-align: center;
}

.second-buttons {
  gap: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.first-button {
  text-decoration: none;
  background-color: #26bba4;
  border-radius: 28px;
  padding: 13px 36px;
  color: #fff;
}

.second-button {
  text-decoration: none;
  background-color: #6174ff;
  border-radius: 28px;
  padding: 13px 32px 13px 35px;
  color: #fff;
}

footer {
  min-height: 150px;
  display: flex;
  align-items: center;
  margin-top: 150px;
  background-color: #f5f6f7;
  justify-content: space-evenly;
}

footer > img {
  width: 55px;
}

.social-icons {
  display: flex;
  gap: 30px;
}

nav {
  display: flex;
  gap: 30px;
  width: 540px;
  flex-wrap: wrap;
}

nav > span {
  display: inline-block;
  width: 160px;
  color: #4c545c;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.135px;
}
